
<div class="container">
    <table class="table">
        <tr>
            <td>Category ID</td>
            <td>
                <input type="text" [(ngModel)]="category.categoryID">
            </td>
        </tr>
        <tr>
            <td>Category Name</td>
            <td>
                <input type="text" [(ngModel)]="category.categoryName">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="addCategory()">Add</button>
            </td>
        </tr>
    </table>
</div>
