<!-- <p>get-all-supplier-products works!</p>
<div *ngIf="products.length > 0">
    <h2>Products for the User</h2>
    <ul>
      <li *ngFor="let product of products">
        {{ product.productName }}
      </li>
    </ul>
  </div>
  <div *ngIf="products.length === 0">
    <p>No products found for the user.</p>
  </div>
   -->
   <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="products.length > 0; else noProducts">
        <tr *ngFor="let product of products">
          <td>{{ product.productID }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.price }}</td>
          <td><button class="btn btn-danger" (click)="delete(product.productID)">Delete</button></td>
          <td><button class="btn btn-primary" (click)="edit(product.productID)">Edit</button> &nbsp;</td>
        </tr>
      </ng-container>
      <ng-template #noProducts>
        <tr>
          <td colspan="3">No products found for the user.</td>

        </tr>
      </ng-template>
    </tbody>
  </table>
  